body
{
    background-color: #F8F9FF  ; /* Le fond de la page sera noir */
    color: #575F7D; /* Le texte de la page sera blanc */

}
header{
	 text-align: center;
	background : #ECEFFF   ;
	width: 900px;
	padding: auto;
    margin: auto;
    border-radius: 8px;
	box-shadow: 0 15px 35px rgba(17,13,17,0.2);
}

h2{
text-align: center;

}
.bloc
{
    /*background : rgba(220,184,233,0.3) ;*/
    background : #ECEFFF     ;
    padding: 50px;
    margin: 25px;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(17,13,17,0.2);
    text-align: center;
}
.blocFormation
{
    /*background : rgba(220,184,233,0.3) ;*/
    background : #ECEFFF     ;
    padding: 50px;
    margin: 25px;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(17,13,17,0.2);
    text-align: justify;
}

.blocExpe
{
    /*background : rgba(220,184,233,0.3) ;*/
    background : #ECEFFF     ;
    padding: 50px;
    margin: 25px;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(17,13,17,0.2);
    text-align: justify;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: bold;
}
a:hover {
    color: black;
}

em{
	font-weight: bold;

}
#profile {
	width: 280px;
	height: 280px;

filter: grayscale(1);
-webkit-filter: grayscale(1);

    border-radius: 50%;
}


#hello {
	width: 100px;
	/*height: 200px;
	padding: 0px 2px 0px 2px ;
    margin: 0px 2px 0px 2px ;
    text-align: justify;*/

}


.bouton1 {
    background-color: rgba(103,11,136,0.3);
    color: white;
    padding: 10px 12px;
    border-radius: 4px;
}

.bouton1:hover {
    background-color: black;
    color: white;
}

footer{

  text-align: center;
  font-weight: bold;
}

#conteneurHeader {
    width: 950px;
    margin: 20px auto;
}

#conteneurPrincipal {
    width: 950px;
    margin: 20px auto;
}

#conteneurInter{

	display : flex;
	justify-content: center;
}





